<%- include('./partial/header') %>

    <h1 class="articles"><%= article.title%></h1>
     <img class="image-articles" src= "<%= article.url_image%>" alt="image article" height="600" >
    <article>
        <p>
            <%= article.description%>
        </p>
    </article> 
                                                    
    <a class="articles-button" href="/articles">Consulter les autres articles</a>
    

         

<%- include('./partial/footer') %>