<%- include('./partial/header') %>

<div class="container my-12 py-12 mx-auto px-4">

    <!-- Section: Design Block -->
    <section class="mb-20 text-gray-700">
  
      <div class="mb-6 pb-2">

        <h2 class="text-3xl font-black"><%= article.title %></h2>
      </div>
      <div class="grid lg:grid-cols-2 gap-12">
        <div class="order-2 lg:order-1">
          <p class="text-xl text-gray-500 mb-6">
            
          </p>
          <p class="text-gray-500 mb-6">
            <%= article.description %>
          </p>
          
         
          
        </div>
        <div class="order-1 lg:order-2">
          <figure class="figure image-wrapper">
            <img
              class="rounded-lg shadow-lg w-full"
              src="<%= article.url_image %>" 
              alt="image"
            />
            <figcaption class="text-sm text-gray-500 mt-3 flex items-center">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="camera" class="w-3 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"></path></svg>
              Photography by Taha Hassouna
            </figcaption>
          </figure>
        </div>
      </div>
      <a href="/articles/">
        <button type="button"  class="inline-block px-7 py-3 border-2 bg-gradient-to-r from-red-300 to-orange-300 border-teal-700 text-blue-400 font-medium text-sm leading-snug uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light">Retour aux articles 🎲</button>
    </section>
    <!-- Section: Design Block -->
  
  </div>
  <!-- Container for demo purpose -->
        
      </div>
      
    </main>
    
  
  </div>


         

<%- include('./partial/footer') %>