<%- include('./partial/header') %>

    <h1 class="articles-head">Liste des articles</h1>
        <!--Je boucles sur touts mes articles-->
         <ul class="articles">
             
             <!--J'ai accès à articles car je l'ai passé en paramètre dans mon controller-->
             
             <% for (const article of articles ) { %>
                <li class="article">
                    <a href="/articles/<%= article.id %>">

                        <%= article.title %>
                        
                    </a>
                    <div class="article-avatar">
                        <img src="<%= article.url_image%>">
                    </div>
                    
                       <div class="article-media">
                           <%= article.media_type %>
                       </div>
                            
                        
                   
                    
                </li>

            <% } %>
         </ul>

<%- include('./partial/footer') %>