<%- include('./partial/header') %>

    <h1>Liste des catégories</h1>


<div class="display-categories">

    <% for (category of categories){ %>


        <div class="display-category">
                <img class="display-category-img" src= "<%= category.url_image %>">
                <div class="display-category-p">
                    <h2><%= category.name %></h2>
                    <p><%= category.description %></p>
                    <a href="/categories/<%= category.id %>" class="display-category-link">Découvrir</a>
                </div>
        </div>

    <% } %>



</div>














  
         

<%- include('./partial/footer') %>