<%- include('./partial/header') %>


    <% if (locals?.userInfo) { %>

      <style>
        :root {
            --main-color: #4a76a8;
        }
      
        .bg-main-color {
            background-color: var(--main-color);
        }
      
        .text-main-color {
            color: var(--main-color);
        }
      
        .border-main-color {
            border-color: var(--main-color);
        }
      </style>
      


      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
      
      <form action="/user/<%= locals.userInfo.id %>" class="pb-10 bg-gray-100"" method="POST"> 
        <div class="container mx-auto my-5 p-5 ">

          <div class="md:flex no-wrap md:-mx-2">

            <div class="w-full md:w-3/12 md:mx-2">

              <div class="bg-white p-3 border-t-4 border-green-400">

                <div class="image overflow-hidden">
                  <img class="h-auto w-full mx-auto"
                      src="https://images.pexels.com/photos/4061662/pexels-photo-4061662.jpeg"
                      alt="Image de profil"
                    />
                </div>

                <h1 class="text-gray-900 font-bold text-xl leading-8 my-1"><%=locals.userInfo.user_name %></h1>

                <h3 class="text-gray-600 font-lg text-semibold leading-6">Gamer en herbe 🎯</h3>

                <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">Lorem ipsum dolor sit amet
                  consectetur adipisicing elit.
                  Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt
                </p>

                <ul class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">

                <li class="flex items-center py-3">

                  <span>
                    Statut
                  </span>

                  <span class="ml-auto">
                    <span class="bg-green-500 py-1 px-2 rounded text-white text-sm">En ligne</span>
                  </span>

                </li>

                  <li class="flex items-center py-3">

                    <span>Membre depuis</span>
                    <span class="ml-auto">12 Nov 2016</span>

                  </li>

                  <a href="/deleteUser/confirm" class="w-full flex justify-center bg-teal-500 text-blue-800 text-sm font-semibold rounded-lg hover:bg-teal-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4">
                    Supprimer mon profil
                  </a>

                </ul>

              </div>

              <div class="my-4"></div>

            </div>

            <div class="w-full md:w-9/12 mx-2 h-64">


              <div class="bg-white p-3 shadow-sm rounded-sm">

                <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">

                  <span clas="text-green-500">
                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                  </span>
                  <span class="tracking-wide">Modifier mon profil</span>

                </div>

                <div class="text-gray-700">
                             
                    <div class="grid md:grid-cols-2 text-sm">

                     <div class="grid grid-cols-2">
                       
                      <label for="name" class="px-4 py-2 font-semibold">Pseudo :</label>
                      <input class="px-4 py-2" type="text" name="name" id="name" value = "<%=locals.userInfo.user_name %> " placeholder="Pseudo" required>

                     </div>
                     
                     
                     <div class="grid grid-cols-2">
                       
                      <label for="email" class="px-4 py-2 font-semibold">Adresse mail :</label>
                      <input class="px-4 py-2" type="email" name="email" id="email" value = "<%=locals.userInfo.email %> " placeholder="Pseudo" required>

                     </div>


                     <div class="grid grid-cols-2">
                       
                      <label for="birth_date"class="px-4 py-2 font-semibold">Date de naissance :</label>
                      <input class="px-4 py-2" type="text" name="birth_date" id="birthdate" value = "<%=locals.userInfo.birth_date %> " placeholder="Pseudo" required>

                     </div>


                     <div class="grid grid-cols-2">
                       
                      <label for="password" class="px-4 py-2 font-semibold">Nouveau Mot De Passe :</label>
                      <input class="px-4 py-2" type="password" name="password" id="password" placeholder="Mot De Passe" minlength="4">

                     </div>


                     <div class="grid grid-cols-2">
                       
                      <label for="password" class="px-4 py-2 font-semibold">Retaper Mot De Passe :</label>
                      <input class="px-4 py-2" type="password" name="repeat_password" id="repeat_password"placeholder="Mot De Passe" minlength="4">

                     </div>
                    </div>                                                     
                  
                  
                </div>

                <input type="submit" value="Valider" class="w-full text-blue-800 bg-teal-500 text-sm font-semibold rounded-lg hover:bg-teal-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4">
                       
                </input>

                
              </div>

              
            </div>
            
          </div>

        </div>

     </form>

    <% } else { %>
        <p>Pas de profil trouvé ! tentes autre chose</p>
    <% }%>

    


<%- include('./partial/footer') %>


<%# Creation d'évenement pour obliger l'user à modifier les deux champs une fois 
qu'il a cliqué sur le champs de mot de passe #%>
<script>
  const newPassword = document.querySelector('#password');
  const confirmPassword = document.querySelector('#repeat_password');

  newPassword.addEventListener('click', () => {
    console.log('cliqué!');
    newPassword.setAttribute('required', '');
    confirmPassword.setAttribute('required', '');
  });
</script>